@*@using SportsStore.Domain.Entities
    @model IEnumerable<Product>*@
@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Product List a</h2>
@foreach (var p in Model.Products)
{
    @*<div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">@p.Price.ToString("c")</span>
        </h3>
        <p>@p.Description</p>
    </div>*@
    @Html.Partial("ProductSummary", p)
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
